@import "style.css";

:root {
  --light-square-color: rgb(255, 206, 158);
  --dark-square-color: rgb(209, 139, 71);
}

html {
  box-sizing: border-box;
  overflow: auto;
}

body {
  overflow: auto;
  max-width: 100vh;
  max-height: 100vh;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.board {
  position: absolute;
  border: 2px solid var(--main-border-color);
  display: grid;
  flex-direction: column;
  overflow: auto;
  max-width: 100vh;
  max-height: 100vh;
}

.boardwrapper {
    /* position: absolute; */
    display: flex;
    flex-direction: row;
    display: inline-flex;
    overflow: auto;
    justify-content: center;
    /* padding-bottom: 100%; */
    aspect-ratio: 1/1;
}

.black_square {
  background-color: var(--dark-square-color);
}

.white_square {
  background-color: var(--light-square-color);
}

.square {
  height: 5em;
  width: 5em;
  position: relative;
}

.row {
  display: inline-flex;
  flex-direction: row;
  width: 100%;
}

.piece {
  height: 100%;
  width: 100%;
}

.valid_move {
  opacity: 50%;
  background: rgb(110, 200, 90);
  height: 100%;
  width: 100%;
  z-index: 10;
  position: absolute;
  top: 0px;
  left: 0px;
}

.valid_attack {
  opacity: 50%;
  background: rgb(210, 50, 80);
  height: 100%;
  width: 100%;
  z-index: 10;
  position: absolute;
  top: 0px;
  left: 0px;
}

.active_piece {
  opacity: 50%;
  background: rgb(200, 190, 40);
  height: 100%;
  width: 100%;
  z-index: 10;
  position: absolute;
  top: 0px;
  left: 0px;
}


.game_header {
  color: var(--main-accent-color);
  flex-direction: row;
  display: flex;
  font-size: 4vw;
  font-weight: bolder;
  text-align: center;
  text-shadow: -1px -1px 0 #99F, 1px -1px 0 #99F, -1px 1px 0 #99F, 1px 1px 0 #99F;
  width: 100%;
  white-space: nowrap;
  vertical-align: top;
  align-items: center;
  justify-content: center;
}

#active_color {
  margin-left: 0.25em;
}

.game_elements {
  position: absolute;
  width:100%;
  height: 100%;
  top: 0;
  left: 0;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: auto;
}

.playfield {
  /* position: absolute; */
  width:100%;
  height: 100%;
  display:flex;
  flex-direction: column;
}

.controls {
  /* position: absolute; */
  align-content: center;
  justify-content: center;
  /* right: 0; */
  overflow: auto;
}

.homebutton {
  margin: 0.5em;
  font-size: 5vw;
}

.homebutton.disabled {
  background-color: #333;
}
