<!DOCTYPE html>
<head>
  <title>Advanced Chess | Game {{ game_id }}</title>
  <script>var game_id = "{{ game_id }}"</script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script type=text/javascript src="{{ url_for('static', filename='game.js') }}"></script>
  <link rel="stylesheet" type="text/css" href="../static/game.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='game.css') }}">
</head>
<body>
  <div class="board">
    <div class="row" id='row_root'>
      <div class="white_square square" id='white_root'></div>
      <div class="black_square square" id='black_root'></div>
    </div>
  </div>
</body>
